#top {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-size: 25px;
}

#main {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    font-size: 25px;
}

.Commonly {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.length{
    width:100px;
}

.area{
    float: left;
}